<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="/public/css/backOffice.css">
   <title>Page Back Office</title>
</head>
<body>
   <header class="header">
      <a href="" class="logo"><span><i class="fa fa-pagelines icones-color-green" aria-hidden="true"></i> <span>florat</span>wx</span>
      </a>
      <nav class="navbar">
         <ul class="ul-lists">
            <li class="list-link"><a class="list-link-a" href=""><span><i class="fa fa-internet-explorer icones-color-green" aria-hidden="true"></i> </span>International</a></li>

            <li class="list-link"><a class="list-link-a" href=""><span><i class="fa fa-eye icones-color-green" aria-hidden="true"></i> </span>Suivi de commande</a></li>

            <li class="list-link"><a class="list-link-a" href=""><span><i class="fa fa-comment icones-color-green" aria-hidden="true"></i> </span>Contactez-nous</a></li>

            <li class="list-link"><a class="list-link-a" href="/public/view/contact.html"><span><i class="fa fa-sign-in icones-color-green" aria-hidden="true"></i> </span>Se connecter / s'inscrire</a></li>
         </ul>
      </nav>
   </header>
   <main>
      <section class="section-container" >
         <header class="header-container">
            <nav class="nav-container">
               <ul class="ul-container">
                  <li class="link-item"><a class="link-item-a" href="">Paqûes</a></li>
                  <li class="link-item"><a class="link-item-a" href="">Anniversaire</a></li>

                  <ul class="ul-items">
                     <li class="link-item link-active"><a class="link-item-a" href="">Occasion<i class="fa fa-angle-down icones-down-layout" aria-hidden="true"></i></a></li>
                     <li class="link-hidden">
                        <ul class="link-hidden-items">
                           <li class="link-hidden-item"><a class="link-item-a" href="">Mariage</a></li>
                           <li class="link-hidden-item"><a class="link-item-a" href="">Naissance</a></li>
                           <li class="link-hidden-item"><a class="link-item-a" href="">Amour</a></li>
                        </ul>
                     </li>
                  </ul>

                  <ul class="ul-items">
                     <li class="link-item link-active"><a class="link-item-a" href="">Bouquets<i class="fa fa-angle-down icones-down-layout" aria-hidden="true"></i></a></li>
                     <li class="link-hidden">
                        <ul class="link-hidden-items">
                           <li class="link-hidden-item"><a class="link-item-a" href="">Bouquet de fleurs</a></li>
                           <li class="link-hidden-item"><a class="link-item-a" href="">Composition florale</a></li>
                           <li class="link-hidden-item"><a class="link-item-a" href="">fleurs de saison</a></li>
                           <li class="link-hidden-item"><a class="link-item-a" href="">fleurs et chocolat</a></li>
                           <li class="link-hidden-item"><a class="link-item-a" href="">Rose éternel</a></li>
                           <li class="link-hidden-item"><a class="link-item-a" href="">Fleurs séchées</a></li>
                        </ul>
                     </li>
                  </ul>
                  <li class="link-item"><a class="link-item-a" href="">Roses</a></li>

                  <ul class="ul-items">
                     <li class="link-item link-active"><a class="link-item-a" href="">Cadeaux<i class="fa fa-angle-down icones-down-layout" aria-hidden="true"></i></a></li>
                     <li class="link-hidden">
                        <ul class="link-hidden-items">
                           <li class="link-hidden-item"><a class="link-item-a" href="">Fleurs et chocolat</a></li>
                           <li class="link-hidden-item"><a class="link-item-a" href="">fleurs et gourmandises</a></li>
                           <li class="link-hidden-item"><a class="link-item-a" href="">Fleurs et beauté</a></li>
                           <li class="link-hidden-item"><a class="link-item-a" href="">Fleurs et décoration</a></li>
                        </ul>
                     </li>
                  </ul>

                  <ul class="ul-items">
                     <li>
                        <form action="" method="get">
                           <input type="text" placeholder="Search.." class="input-search" name="search">
                           <button class="btn-search" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                     </li>
               </ul>
            </nav>
         </header>
      </section>

      <section class="section-container-5">
         <section class="section-container-back-5">
            <article class="article-container-backoffice-5">
               <figure class="figure-container-backoffice-5">
                  <img src="/public/img/img-backoffice.webp" alt="">
               </figure>
            </article>
            <article class="article-container-backoffice-5">
               <div class="rating">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  <span>80 avis</span>
               </div>
               <h3 class="title-card">Je choisis ma formule :</h3>
               <div class="box-card">
                  <figure class="figur-box">
                     <div class="box">
                        <img src="../img/img-box.avif" alt="">
                        <p class="paragrah-price">34.7€</p>
                     </div>
                  </figure>
                  
                  <figure class="figure-box">
                     <div class="box">
                        <img src="../img/img-box.avif" alt="">
                        <p class="paragrah-price">29.10€</p>
                     </div>
                  </figure>
   
                  <figure class="figure-box">
                     <div class="box">
                        <img src="../img/img-box.avif" alt="">
                        <p class="paragrah-price">40.30€</p>
                     </div>
                  </figure>
               </div>
               <h3 class="title-card">J'ajoute une option</h3>

               <label for="ticketNum">Quantité:</label>
               <input type="number" id="ticketNum" name="ticketNum" value="0" />
            </article>

            <article class="article-container-backoffice-5">
               <h3 class="title-card">Ma livraison :</h3>
               <p class="paragrah-card">Livraison possible dès demain</p>
               <h3 class="title-card">De préférence</h3>
               <div class="card">
                  <label for="pet-select">Quand :</label>
                  <select id="pet-select">
                     <option value="lundi">Lundi</option>
                     <option value="mardi">Mardi</option>
                     <option value="mercredi">Mercredi</option>
                     <option value="jeudi">Jeudi</option>
                     <option value="vendredi">Vendredi</option>
                     <option value="samedi">Samedi</option>
                     <option value="dimanche">Dimanche</option>
                  </select>
               </div>
               <form class="form-card">
                  <div class="card">
                     <div class="boxTime">
                        <input type="radio" id="contactChoice1" name="contact" value="email" />
                        <label for="contactChoice1">Dans la journée (de 9h à 20h)</label>
                     </div>

                     <div class="boxTime">
                        <input type="radio" id="contactChoice2" name="contact" value="phone" />
                        <label for="contactChoice2">Le matin (jusqu'à 13h)</label>
                     </div>
                     <div class="boxTime">
                        <input type="radio" id="contactChoice3" name="contact" value="mail" />
                        <label for="contactChoice3">Dans l'après-midi (jusqu'à 20h)</label>
                     </div>
                    </div>

                    <div class="card-btn">
                     <p class="card-price">28.4€</p>
                     <button type="submit" class="btn-comande">commander <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                  </div>
               </form>
            </article>
         </section>
      </section>
   </main>
    <!-- <footer>
      <p>© 2024 Back Office. Tous droits réservés.</p>
    </footer>
    <label for="quantity">Quantity (between 1 and 5):</label>
    <input type="number" id="quantity" name="quantity" min="0" max="100"><br>
    <label for="ticketNum">Number of tickets you would like to buy:</label>
    <input id="ticketNum" type="number" name="ticketNum" value="0" /> -->

</body>
</html>